@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    font-family: 'Raleway', sans-serif;
}

#flex-navbar {   
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:auto;
    font-size: 1.5vw;
    color:white;
    background-color: pink;
    max-width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

a{
    text-decoration: none;
    color:darkorchid;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    height: auto;
    background-color: rgb(247, 246, 245);
    margin: 0;
    padding: 0;
    width: 80%;
    justify-items: center; /* adjusted */
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grid-item{
    border:solid black 0.1em;
    margin-bottom:10%;
    height: auto;
    max-width: 65%;
    text-align: center;
    background-color: rgb(216, 216, 216);
    padding:5%;

  }
  
  img {
    max-width: 100%;
    height:auto;
  }

  .name{
      font-size:1.8em;
  }

  .price{
      font-size:1.6em ;
  }