@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    font-family: 'Raleway', sans-serif;
    font-size:16px;
}

#flex-navbar {   
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:auto;
    font-size: 1.5vw;
    color:white;
    background-color: pink;
    max-width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.navbar-links{
    text-decoration: none;
    color:darkorchid;
}


#selflorist {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    height: auto;
    background-color: rgb(247, 246, 245);
    margin: 0;
    padding: 0;
    max-width: 70%;
    justify-items: center; /* adjusted */
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  

  .grid-item{
    margin-bottom:5%;
    min-height: 80%;
    max-height:80%;
    min-width: 80%;
    max-width: 80%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding:5%;
}

.grid-item:hover {
    box-shadow: 1em 1em 4em rgba(0,0,0,0.2);
    transform: scale(1.01);
}
  
.grid-container img {
    min-height:60%;
    max-height: 80%;
    width: 100%;
    position: relative;
    vertical-align: middle;
    border-bottom: solid black 2px;
}


footer {
    background: #c4cec3;
    padding: 3em;
}

footer .fcontainer {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .ftr h3 {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 1.2em;
    color: white;
}

footer .content {
    list-style: none;
}

footer .content a {
    text-decoration: none;
    color: rgb(78, 77, 77);
}

footer .content a:hover {
    color: white;
}

.footclass {
    display: flex;
    align-items: center;
    width: 100%;
}

.finput {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

.btn input{
    background: rgb(241, 156, 199);
    color: rgb(78, 77, 77);
}

.btn input:hover {
    color: white;
}


  .name{
      font-size:1.2em;
  }

  .price{
      font-size:1.1em ;
      font-weight: bold;

  }
  
  #shoptiming{
      display: inline-block;
      justify-items: center;
      margin-top:1em;
 }

 #time{
    margin:auto;
 }
    #texts{
        text-align:justify;
    }
    #container{
      display: flex;
      justify-content: center;
    }

    .contactpage{
        background-color:	#FaC5CB	;
    }

  
    #contact form{
        margin-left: auto;
        margin-right: auto;
        margin-bottom:3em;
        margin-top: 3em;
        border:solid grey 1pt;
        background-color: #FFA7C5;
        width:60vw;
        height:auto;
        border-radius: 1em;
    }

    #contact1{
       text-align: center;
      
    }
    
    .titleAbout{
        font-weight: bold;
    }
    #aboutus{
        margin-top: 2%;
        margin-bottom: 2%;
        max-width:70%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        border:solid grey 1pt;
        text-align: center;
        border-radius: 1.5em;
        padding:1em;
        
    }
    
    #address
    {
        margin-top:1em;
        margin-bottom:1.5em;
        text-align: center;
    }
    

    #info{
        width:30vw;
        margin-right:auto;
        margin-left: auto;
    }

    #name,#lemail,#surname,#number{
        margin-bottom:0.5em; 
        justify-content: center;
        justify-items: center;
        margin-bottom: 2em;
      
    }
    #fname,#email,#sname,#texts,#numb{
        display: inline;
        margin-left:auto;
        margin-right: auto; 
        margin-bottom: 2em;
    }


    #together{
    display:inline;
    }
    textarea{
        width:40vw;
    }
   
    #aboutext{
        display:-webkit-box;
        overflow: auto;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    #button{
        background-color:#FFA7C5 ;
        border-radius: 1em;
        border:solid grey 1pt;
        width:15vw;
        margin-top: 1em;
        margin-bottom: 0.5em;

    }

    #gettouch{
        display:flex;
        margin-top:2em;
    }

    #button:hover{
        background-color:white;
        color:black;
    }
    #phone,#e-mail{
        display:block;
        margin-top:1em;
    }

    #ids{
       display:flex;
       flex: row; 
       margin-top:1em;
          
    }

    #prom,#checkboxes{
        float:center;
    }

    .big-container{
      width:100%;
    }

  .filter-box{
      float:left;
      width:15%;
      max-width:20%;
      height:auto;
      border:solid 2px hotpink;
      border-top:none;
      vertical-align: bottom;
      margin-left:3%;
      margin-right:3%;
      font-size: 0.8em;
  }
 

  .filter-title{
      border-bottom: solid hotpink 2px;
      border-top: solid hotpink 2px;
      padding:2%;
      font-size: 1.1em;
      font-weight: bold;

  }

 

/* Custom BOUQUET */

#custom{
    border:solid black 2px;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    margin-top:2%;
    margin-bottom: 2%;
    text-align:center;
    border-radius: 2%;
}
#custom h1{
    font-size:1.5em;
    font-weight:bold;
    padding:2%;
}
#custom h2{
    font-size:1.1em;
    font-weight:bold;
}
#custom p{
    width:60%;
    margin-left: auto;
    margin-right:auto;  
    margin-bottom: 2%;  
    color: grey;
    font-style: italic;
    font-size: 0.9em;
}
#Occasion{
    max-width:40%;
    min-width: 40%;
    padding:2%;

}
#Recipent{
    max-width:40%;
    min-width: 40%;
    padding:2%;

}
#options{
    display:block;
    padding: 2%;
    border-top: solid black 2px;
    border-radius: 10%;
}
#Allign{
    min-width:10%;
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;
    padding:0%;
    text-align:center;
    padding: 3%;
}
#budget{
    padding:2%;
    border-top:solid black 2px;
    border-radius: 10%;

}

#message{
    padding:2%;
}
#message textarea{
    resize: none;
    border: solid black 2px;
}

#delivery{
    padding:2%;
    border-bottom: solid black 2px;
}

/* Product page   */

#product-container{
    max-width:80%;
    padding: 0.1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom:5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#product{
    border:solid black 0.2em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: auto;

    background-color: hsl(30, 11%, 96%);
    margin: 0;
    padding: 0;
    
    justify-items: center;
    align-items: center;

   

   
}

.product-item{

    max-width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.product-item img{
    height: auto;
    max-width: 95%;
    min-width: 95%;

}
.big-product-item{
  grid-column: 1 / -1;
  background-color: rgb(255, 255, 255);


}
    

.big-product-item img{
    height:auto;
    max-width:95%;
    min-width: 95%;

}

#Info{
    border: solid black 0.2em;
    border-left: none;
    width:40%;
    float:right;
    margin-left: auto;
    margin-right: auto;
   

}

#Info h1{
    font-weight: bold;
    font-size: 1.5em;
}

#price{
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 4%;
   
}


.product-title{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.2em;
    font-weight: bold;

}
.list-product{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.Quantity{
    display: inline;
    font-weight: bolder;
    font-size:1.2em;
}
#Info input[type=number]{
    float: right;
    font-weight: bolder;
    margin-bottom:2%;
    max-width: 70%;
    border:solid black 0.15em;

}
#purchase{
    padding-top: 7%;
    border-top: solid black 0.15em;
    margin-top: 10%;
    min-width:100%;
}

#purchase-submit{
    min-width: 80%;
    border: solid black 0.15em;
    font-size: 1.4em;
    background-color: white;
    font-weight: bolder;
    max-height: 100%;
    margin-top: 10%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    

    
}

#purchase-submit:hover{
    background-color: black;
    color: white;
}

.Addon-container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:100%;
    margin-bottom:2%;


}
.Addon-item{
    border:solid black 0.15em;
    max-width:30%;
    text-align: center;
    overflow: hidden;
    
}
.Addon-item img{
    max-width:100%;
    max-height:100%;
}



/*     FILTER BUTTON   */



 
#Filter-icon{
	display:block;
	padding:0;	
	color:hotpink;
	font-size:0.9em;
	line-height: 3.75em;
	text-decoration:none;
    border:solid hotpink 2px;
    min-width: 10%;
    max-width: 15%;
    text-align: center;
    margin-top: 2%;
    display:none;
    margin-left: 3%;
}

#customs{
    display:flex;
    flex-direction:column;
}


#buttons{
    max-width:30%;
    min-width:20%;
    border-radius:10%;
    margin-bottom: 2%;
    background-color:white;
}


@media only screen and (max-width: 450px){

    #map{  
        display: none;
    }

}
@media only screen and (min-width: 450px){

    #map{  
        border: solid grey 1pt;
        border-radius:2em;
        height:30vh;
        width:40vw;
    }

}





@media only screen and (min-width: 1000px){

    .info-product{
        font-size: 1.2em;
    }
    #Info h1,#price{
        font-size: 2em

    }
    .product-title{
        font-size: 1.5em;
    }
    #Info input[type=number]{
        max-width:85%;
    }
}




@media only screen and (max-width: 600px){
    #product{
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
    
    }
    .product-item img,.big-product-item img{
        height: auto;
        max-width: 65%;
        min-width: 65%;
        margin-left:auto;
        margin-right: auto;
        display: block;
    }
    .product-container{
        width: 95%;
    }
    .info-product{
        font-size: 0.6em;
    }
    .product-title{
        font-size: 0.9em;
    }
    .info{
        width: 45%;
    }
    .list-product{
        font-size: 0.6em;

    }
    .title-list{
        font-size: 0.6em;
    }
    #purchase-submit{
            min-width: 100%;  
            max-width: 50%;      
            font-size: 0.8em;
    }
    .Addon-item{
        font-size:0.6em;
        margin-left:2%;
        margin-right:2%;
    }

}







  @media only screen and (max-width: 550px){

 

    footer .ftr {
        flex-basis: 80%;
        margin: 0 auto;
    }
    .footclass {
        flex-direction: column;
    }
    .footclass input {
        width: 90%;
        margin: 5px auto;
    }
    footer {
        text-align: center;
    }
    footer .ftr h3 {
        font-size: 1.4em;
        font-weight: bolder;
        margin-bottom: 0.8em;
        margin-top: 0.8em;
        color: white;
    }
    
    .btn input{
        text-align: left;
        min-width: 100%;
    }

    .filter-box{
        display: none;
    }
    .name{
        font-size: 0.6em;
    }
    .price{
        font-size: 0.6em;
    }
    .grid-container{
        width:90%;
        grid-template-columns: auto

    }
    #Filter-icon{
        display:block;
    }
    #buttons{
        max-width:40%;
        min-width: 40%;
    }
    #custom p{
        font-size: 0.7em;
    }


    #Occasion{
        min-width: 60%;
        max-width: 80%;
        
    }
    #Recipent{
        min-width: 60%;
        max-width: 80%;
    
    }
}  

.link{
    margin-top:1em;   
}

.links
{
text-decoration: none;
font-style:oblique;
font-family: bold;
color:black;
border:dotted rgb(209, 187, 133) 4pt;

}
.links:hover{
    background-color:palevioletred;
    color:black;   
}

@media only screen and (max-width:450px)
{
    #advcontain
    {
    display:block;
    }

  
}

.advcon{
    max-width:18vw;
}

.adver{
    padding:1em;
    margin-top:2em;
    display:block;
    width:40vw;
    height:50vh;
    margin-right:auto;
    margin-left:auto;
    color:black;
    margin-bottom:2em;
    font-weight: bold;
    font-size: larger;
}

.advhead{
    font-size: 1.2em;
    margin-bottom:0.8em;
}

#advcontain
{
    display:flex;
    flex:row;
}

#summer{
    width:20vw;
    text-align: center;
    margin-left:2em;
}
#a1{
    background-image: url("https://image.freepik.com/free-photo/father-s-day-happy-family-daughter-giving-dad-flowers_101125-11.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;    
}

#a2{
    background-image: url("https://image.freepik.com/free-photo/young-beautiful-woman-with-curly-hair-isolated_273609-48123.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(221, 124, 140) ;
    background-position: center;
    border:solid rgb(221, 124, 140) 1pt;
}

#a3{
background-image: url("https://image.freepik.com/free-photo/flat-lay-spring-daisies-gerberas_23-2148894216.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color:rgb(221, 124, 140) ;
    background-position: center;
    background-color:rgb(221, 124, 140) ;
}

#deliver
{
    margin-top:2em;
    color:black;
    background-color: rgb(224, 188, 241);
    border-radius: 1em;
    width:60vw;
    margin-left: auto;
    margin-right: auto;
}

#deliv{
    padding:1em;
    margin-left: auto;
    margin-right: auto; 
    display: inline;
    vertical-align: middle;
    text-align: center; 
}
#start,#selection,#post
{  
    padding:1em;
    max-width:12vw;
    max-height:3vh;
    background-color:pink ;
    border:solid rgb(238, 201, 208) 2pt;
    border-radius: 1em;
}

#view{
    padding:1em;
    min-width:10vw;
    background-color:pink ;
    border-radius: 1em;
    border:solid rgb(238, 201, 208) 2pt;
    color:black;
    font-size: 1rem;
}

#view:hover{
    background-color: darksalmon;
    color:black;
}

#selection::placeholder,#post::placeholder{
font-size:1.2em;
color:black;
text-align: center;
}
