@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
    font-family: 'Raleway', sans-serif;
}

#flex-navbar {   
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:auto;
    font-size: 1.5vw;
    color:white;
    background-color: pink;
    max-width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

a{
    text-decoration: none;
    color:darkorchid;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    height: auto;
    background-color: aqua;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-items: center; /* adjusted */
    justify-content: center;
    margin-bottom: 5%;
}
  
  .grid-item{
    border:solid black 0.1em;
    margin-bottom:10%;
    height: auto;
    max-width: 65%;
    text-align: center;
    background-color: #ff6699;
    padding:5%;

}
  
  img {
    max-width: 100%;
    height:auto;
    border-bottom: solid black 2px;
}

    #map{  
        border: solid#C71585 2pt;
        border-radius:2em;
        height:40vh;
        width:60vw;

    }
    #container{
      display: flex;
      justify-content: center;
    }

    .contactpage{
        background-color:	#FFC0CB	;
    }

    #contact{
        margin-top:30em;
        justify-content: center;
        border:solid black 1pt;
        background-color: darkseagreen;
        text-align: center;
    }

    #fname,#email,#sname,#mess,#texts{
        width:10em;

    }

    #about
    {
      border: solid black 1pt;
      width:40vw;
      float:right;
      margin-top:0em;
    }
