/* Hide Dropdowns by Default */
#Filter-icon ul ul {
	display: none;
	position: absolute; 
	top: 3.75em; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
#Filter-icon ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
#Filter-icon ul ul li {
	width:11em;
	float:none;
	display:list-item;
	position: relative;
    border: solid pink 2px;
}

/* Second, Third and more Tiers	*/
#Filter-icon ul ul ul li {
	position: relative;
	top:-3.75em; 
	left:10.625em;
    text-align: left;
}


#Filter-icon ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
	#Filter-icon ul li {
	display:inline-block;
	background-color: #ffffff;
    color:pink;
	z-index: 99;

	}